/* 
Color Palette
#CBB986
#3C6E71
#FFFFFF
#55D6BE
#284B63
*/

:root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}

#root {
  background: linear-gradient(300deg, #FFFFFF, #55D6BE, #3C6E71, #284B63);
  /* #353535 */
  background-size: 240% 240%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.nav-bar {
  margin: auto;
  /* #C2B280 */
  border-radius: 25px;
  width: 100%;
  height: 7vh;
}

.active {
  text-decoration: underline;
  padding-bottom: 1px;
  font-size: 1.7rem !important;
}

main {
  min-height: 90vh;
}

.main-body,
.home-body {
  text-align: center;
  color: white;
}

.home-body {
  height: 80vh;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  color: white;
  min-height: 3vh;
}

/* This is needed to be worked on */

.header {
  text-align: center;
  padding: 30px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #284B63;
}

.nav-bar a {
  color: white;
}

.nav-bar a:hover {
  color: #284B63;
}

.nav-bar a:focus {
  color: white;
}

.card {
  height: 100%;
  color: #284B63;
}

.card:hover {
  transition-duration: 0.5s;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
}

.contact-info {
  margin: auto;
  text-align: center;
  background-color: darkslategray;
  max-width: 90%;
  border-radius: 8px;
  padding: 50px;
  color: white;
}

.projects-h2 {
  color: white;
  padding-bottom: 1rem;
}

.projectPhoto {
  height: 250px;
  object-fit: cover;
}

.modal-image {
  width: 100%;
}

.form-label {
  text-align: left;
  color: black;
}

::placeholder {
  color: #000;
}

.send-button {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--solid);
  border: .15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;
}

.dot {
  content: '';
  margin-left: -8px;
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.dot::after {
  content: '';
  position: absolute;
  left: calc(50% - 0.4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: var(--primary);
  border-radius: 1em;
  border: .25em solid var(--solid);
  box-shadow: 0 0 .7em var(--solid),
    0 0 2em var(--primary);
}

.send-button:hover .dot,
.send-button:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}

@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }

  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }

  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }

  80% {
    transform: translateX(0) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.profile-image {
  width: 25%;
  border-radius: 50%;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

@media screen and (min-width: 800px) {
  .contact-info {
    max-width: 50%;
  }
}